@font-face {
    font-family: 'pokemon-hollow';
    src: url('./fonts/Pokemon-Hollow.ttf');
}

@font-face {
    font-family: 'pokemon-solid';
    src: url('./fonts/Pokemon-Solid.ttf');
}

@font-face {
    font-family: 'pokemon-pocket-monk';
    src: url('./fonts/pocket_monk.otf');
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #B2DBBF;
}

.d-none {
    display: none !important;
}

h1 {
    display: inline;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: rgb(148, 148, 207);
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: rgb(184, 184, 221);
}

.headline {
    margin: 24px;
    font-family: 'pokemon-pocket-monk';
    font-size: 40px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EFEFEF !important;
    margin: 24px;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    width: 300px;
}

.search-box input {
    border: unset;
    background-color: #EFEFEF;
    font-size: 18px;
}

.search-box input:focus-visible {
    outline: none;
}

.search-box img {
    cursor: pointer;
    transition: transform 75ms ease-in-out;
}

.search-box img:hover {
    transform: scale(1.05);
}

.header-icon-box {
    display: flex;
    margin: 24px;
    gap: 12px;
}

.header-icon-box img {
    width: 36px;
    cursor: pointer;
    transition: transform 75ms ease-in-out;
}

.header-icon-box img:hover {
    transform: scale(1.05);
}

#pokemons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #B2DBBF;
    padding: 24px;
    gap: 12px;
}

.pokemon-box {
    position: relative;
    background-color: #70C1B3;
    min-width: 270px;
    min-height: 180px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    border-radius: 12px;
    cursor: pointer;
    color: white;
    transition: transform 125ms ease-in-out;
}

.pokemon-box:hover {
    box-shadow: 6px 5px 11px -1px rgb(0 0 0 / 15%);
    transform: scale(1.01);
}


.pokemon-box img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 130px;
}

.name-id-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
    margin-bottom: 24px;
}

.pokemon-id {
    background-color: #5F5449;
    padding: 8px;
    border-radius: 8px;
}

.pokemon-type-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 12px;
}

.type {
    min-width: 70px;
    text-align: center;
    background-color: #4c2d72;
    padding: 8px;
    text-align: center;
    border-radius: 8px;
}

.load-more-button {
    padding: 24px;
    margin: 24px;
    display: flex;
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(95, 125, 143, 0.7);
}

#pokemon-detail-card {
    z-index: 10;
    width: 500px;
    height: 800px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
}

.pokemon-detail-card-top {
    height: 40%;
    padding: 30px;
    padding-top: 48px;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    color: white;
}

.pokemon-detail-card-bottom {
    flex: 1;
    padding: 30px;
    background-color: white;
    border-radius: 22px;
    margin-top: -22px;
}

.arrow-and-heart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-and-heart img {
    transition: transform 125ms ease-in-out;
    height: 40px;
}

.arrow-and-heart img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.name-types-id-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
}

.name-types-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.pokemon-image-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pokemon-image {
    width: 200px;
    margin-top: -180px;
}

.choose-properties {
    display: flex;
    justify-content: space-between;
    transition: transform 125ms ease-in-out;
}

.choose-properties h4 {
    transition: transform 125ms ease-in-out;
    border-bottom: 3px solid white;
}

.choose-properties h4:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.navigation-active {
    font-weight: bold;
    border-bottom: 2px solid black !important;
}

table tr td:first-child {
    padding-right: 50px;
}
