@media (max-width: 800px) {
    
    .header {
        padding: 0;
    }

    .header-box {
        width: 100%;
        border-radius: 0;
        flex-direction: column;
        background-color: #9494CF;
    }

    .search-box {
        margin: 0;
        width: 270px;
    }

    .header-icon-box {
        gap: 24px;
        margin: 12px;
        padding: 12px;
        background-color: #B8B8DD;
        border-radius: 8px;
    }

    .autocomplete {
        width: 230px !important;
    }

    .search-box input {
        margin-left: 5px;
    }

}

@media (max-width: 550px) {
    .search-box {
        width: 250px;
    }

    .autocomplete {
        width: 150px !important;
    }

    #myInput {
        width: 180px !important;
        margin-right: 8px;
    }
    
    .pokemon-box {
        min-width: 240px;
    }

    #pokemon-detail-card {
        width: 380px;
    }

    .choose-properties {
        justify-content: space-around;
    }
}

@media (max-width: 400px) {

    .pokemon-detail-card-bottom {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    #pokemon-detail-card {
        width: 100%;
    }

    .pokemon-stat {
        font-size: 14px;
    }

}
